<div class="center jumbotron">
  <center><h2> New order </h2></center>
  <%= form_for(@order, :html => {:class => "form"}) do |f| %>
    <div class="form-group">
      <%= f.label :service %><br>
      <%= f.select :service, [['Room Service', 'RoomService'], ['Laundry Service', 'LaundryService'], ['Trip Planning Service', 'TripPlanningService']], :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :room %>
      <%= f.text_field :room, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :order %>
      <%= f.text_field :order, :class => "form-control" %>
    </div>

    <%= f.submit "Create", :class => "btn btn-success" %>
    <%= link_to "Cancel", root_url, class: "btn btn-danger", id: "cancel-btn" %>
  <% end %>
</div>